#alertbox {
	margin-bottom: 5px;
}

#toolBox .form-horizontal .control-label, #mayugeTypeBox .form-horizontal .control-label{
	width: 140px;
}

#toolBox .form-horizontal .controls, #mayugeTypeBox .form-horizontal .controls{
	margin-left: 20px;
}

#toolBox .form-horizontal .controls .inline, #mayugeTypeBox .form-horizontal .controls .inline{
	white-space: nowrap;
}

#snsBtn {
	margin:10px 0 10px 0;
}

#about dt {
	margin-top: 40px;
}